article.article(id="article-{{id}}",data-post="{{id}}")
  header.article-header
    h1.article-title {{title}}
    p.article-info Posted by
      span.article-author
        a(href="{{author-url}}") {{author}}
      span.article-date {{date}}
      span.article-toolbar {{toolbar}}
  .article-content {{content}}
  .article-tags
    span.article-tags-label Tags:
    span.article-tags-items {{tags}}
  footer.article-footer
    .sharing
    .permalink

