article.article(id="article-{{id}}")
  header.article-header
    h2.article-title
      a(href="{{permalink}}") {{title}}
    p.article-info Posted by
      span.article-author
        a(href="{{author-url}}") {{author}}
      span.article-date {{publishedDate}}
      span.article-toolbar {{toolbar}}
  .article-content
    p {{content}}
      a(href="{{permalink}}") continue reading
