article.article(id="article-{{id}}")
  header.article-header
    h2.article-title
      a(href="{{permalink}}") {{title}}
    p.article-info Posted by {{author}} on {{date}}
  .article-body {{content}}
  footer.article-footer
    .sharing
    .permalink
