article.article.single(id="article-{{id}}",data-post="{{id}}")
  header.article-header
    h1.article-title {{title}}
    p.article-info Posted by
      span.article-author
        a(href="{{author-url}}") {{author}}
      span.article-date {{date}}
      span.article-toolbar {{toolbar}}
  .article-content {{content}}
  footer.article-footer
    .sharing
      .addthis_inline_share_toolbox
    .tags
      span.tags-label Tags:
      span.tags-items {{tags}}
    .permalink
      span.permalink-label Permalink:
      input.permalink-item(readonly,value="{{permalink}}")
link(rel="stylesheet",href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/monokai-sublime.min.css")
script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js")
script hljs.initHighlightingOnLoad()
script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57c4039a427916ac")
