article.article(id="article-{{id}}",data-post="{{id}}")
  header.article-header
    h1.article-title {{title}}
    p.article-info Posted by
      span.article-author {{author}}
      span.article-date {{date}}
  .article-content {{content}}
  footer.article-footer
    .sharing
    .permalink
