section.process-info
  .content
    p

footer#footer.footer
  .content
    .col
      h3 Get Criollo
      ul
        li
          a(href="{{github-url}}/archive/{{criollo-ver}}.zip") Download Source Code
        li
          a(href="{{github-url}}#cloning-the-repo") Clone the GitHub Repo
        li
          a(href="http://cocoapods.org/pods/Criollo") Criollo on CocoaPods.org
    .col
      h3 Documentation
      ul
        li
          a(href="{{github-url}}/wiki/Getting-Started") Getting Started
        li
          a(href="{{github-url}}/wiki") Criollo Wiki
        li
          a(href="http://cocoadocs.org/docsets/Criollo/{{criollo-ver}}/") API Reference
        li
          a(href="{{criollo-web-github-url}}") Clone this Website on GitHub
    .col
      h3 Get in Touch
      ul
        li
          a(href="https://twitter.com/Criolloio") Follow @criolloio
        li
          a(href="mailto:criollo@criollo.io") Drop a Line
        li
          a(href="/blog") Read the Blog
    .copyright
      p Criollo is released under the&nbsp;
        a(href="https://opensource.org/licenses/MIT") MIT License
        |. &copy; Copyright 2012-2016&nbsp;
        a(href="https://twitter.com/catalinstan") Cătălin Stan
        |.


link(rel="stylesheet",type="text/css",href="https://fonts.googleapis.com/css?family=Ruda:400,700,900")
link(rel="stylesheet",href="{{static-dir}}/default.css?{{etag}}",type="text/css")
script(src="{{static-dir}}/app.js?{{etag}}")
script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-75138662-1', 'auto');ga('send', 'pageview');