head
  meta(charset="utf-8")
  title {{title}}
  meta(name="viewport",content="width=device-width, initial-scale=1.0")
  meta(name="description",content="{{meta-description}}")
  meta(name="keywords",content="{{meta-keywords}}")
  meta(name="author",content="criollo.io")
  meta(property="og:title",content="{{title}}")
  meta(property="og:description",content="{{meta-description}}")
  meta(property="og:url",content="{{url}}")
  meta(property="og:image",content="{{image}}")
  meta(property="og:image:url",content="{{image}}")
  meta(property="og:image:width",content="1024")
  meta(property="og:type",content="{{og-type}}")
  meta(name="twitter:card",content="summary_large_image")
  meta(name="twitter:site",content="@criolloio")
  meta(name="twitter:title",content="{{title}}")
  meta(name="twitter:description",content="{{meta-description}}")
  meta(name="twitter:image",content="{{image}}")
  meta(name="twitter:image:src",content="{{image}}")
  link(rel="shortcut icon",href="/favicon.ico",type="image/vnd.microsoft.icon")
  link(rel="icon",href="/favicon.ico",type="image/vnd.microsoft.icon")
  link(rel="alternate",type="application/rss+xml",title="Criollo Blog RSS Feed",href="https://criollo.io{{blogFeedPath}}")
  link(rel="stylesheet",type="text/css",href="https://fonts.googleapis.com/css?family=Ruda:400,700,900")
  link(rel="stylesheet",href="{{static-dir}}/default.css?{{etag}}",type="text/css")
  script redirect='{{redirect}}'