nav.main-menu
  .content
    .logo(title="{{title}}")
      a(href="/")
        img(src="{{static-dir}}/logoWithTextLight.svg?{{etag}}",alt="")
    ul
      li
        a(href="/#getting-started") Get Started
      li
        a(href="/blog") Blog
      li
        a(href="/#footer") Get in Touch

      //- li#login-menu {{login-menu}}