<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{meta-description}}">
    <meta name="keywords" content="{{meta-keywords}}">
    <meta name="author" content="criollo.io">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:400,300,300italic,400italic,700,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="#page-top">Sallow</a> </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden"> <a href="#page-top"><i class="fa fa-arrow-up"></i></a> </li>
                    <li class="page-scroll"> <a href="#sectionone">Feature#1</a> </li>
                    <li class="page-scroll"> <a href="#sectiontwo">Feature#2</a> </li>
                    <li class="page-scroll"> <a href="#sectionthree">Feature#3</a> </li>
                    <li class="page-scroll"> <a href="#sectionfour">Feature#4</a> </li>
                    <li class="page-scroll"> <a href="#pricing">Pricing</a> </li>
                    <li class="page-scroll"> <a href="#team">Team</a> </li>
                    <li class="page-scroll"> <a href="#client">Client</a> </li>
                    <li class="page-scroll"> <a href="#getintouch">Get In Touch</a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Intro section start-->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row hero-section">
            </div>
            <div class="row">
                <div class="col-md-12"> <img src="/static/images/main_laptop.png" alt="" class="img-responsive hero-section-laptop"> </div>
            </div>
        </div>
    </section>
    <section id="sectionone" class="features-section">
        <!-- Features section start-->
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center section-head">
                    <h1>Perfect For Today. Ready For Tomorrow.</h1>
                    <p>Uncover many web sites still in their infancy. Various versions have evolved over the years sometimes by accident sometimes on purpose. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Web App Development</h3>
                            <p>Fusce sit amet placerat tellus, sed tincidunt est. Donec condimentum dolor in odio elementum adipiscing. </p>
                        </div>
                        <div class="col-md-12">
                            <h3>User Research</h3>
                            <p>Lorem ipsum dolor sit amet, mel congue causae argumentum in.probo volutpat vis eu. </p>
                        </div>
                        <div class="col-md-12">
                            <h3>Information Architecture</h3>
                            <p>Accumsan petentium et mea. Ad sit omnes ignota blandit. Et pri volutpat gubergren.</p>
                        </div>
                        <div class="col-md-12">
                            <h3>Visual Design</h3>
                            <p>Et cum nominati temporibus, ad vix graecis percipit qualisque, te zril choro facilis vix.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center"> <img src="/static/images/full_screen.png" alt="" class="img-responsive browser_image"> <a href="#" class="btn btn-default btn-outline" data-toggle="modal" data-target="#myModal">Try It Now</a> </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Branding Design</h3>
                            <p>Vivamus auctor, lorem vel lobortis suscipit, elit sapien posuere enim</p>
                        </div>
                        <div class="col-md-12">
                            <h3>Software Development</h3>
                            <p>Sed euismod dolor ut odio feugiat, eget sodales sapien placerat. Sed odio neque, aliquam nec.</p>
                        </div>
                        <div class="col-md-12">
                            <h3>Planing Process</h3>
                            <p>Sed euismod dolor ut odio feugiat, eget sodales sapien placerat. Sed odio neque, aliquam nec.</p>
                        </div>
                        <div class="col-md-12">
                            <h3>Heading of Feature</h3>
                            <p>Sed euismod dolor ut odio feugiat, eget sodales sapien placerat. Sed odio neque, aliquam nec.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features section Close-->
    <section id="sectiontwo" class="features-section  section-colored">
        <!-- Features section start-->
        <div class="container">
            <div class="row">
                <div class="col-md-6"> <img src="/static/images/screen.png" alt="" class="img-responsive pic_space"> </div>
                <div class="col-md-6">
                    <h1>We Build Beautiful Online Web App Properties.</h1>
                    <p class="lead">Lorem Ipsum as their default model text a search for lorem ipsum will uncover many web sites still in their infancy. Various versions have evolved over the years sometimes by accident sometimes on purpose.
                        <p>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Visual Design</h3>
                                    <p>Cras varius nunc eros at posuere sapien malesuada aliquamat posuere sapien malesuada aliquam. </p>
                                </div>
                                <div class="col-md-6">
                                    <h3>Front-End Development</h3>
                                    <p>Lorem ipsum dolor sit amet at posuere sapien malesuada aliquam mel congue causae argumentum in. </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Visual Design</h3>
                                    <p>Aenean in elit et nisl eleifend auctorvat posuere sapien malesuada aliquam ed et pretium maurissed rhoncus posuere</p>
                                </div>
                                <div class="col-md-6">
                                    <h3>Planing Process</h3>
                                    <p>Vivamus auctor lorem vel lobortis suscipitat posuere sapien malesuada aliquam elit sapien posuere enim. </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Software Development</h3>
                                    <p>Vivamus auctor lorem vel lobortis suscipit at posuere sapien malesuada aliquamelit sapien posuere enim</p>
                                </div>
                                <div class="col-md-6">
                                    <h3>Front-End Development</h3>
                                    <p>Lorem ipsum dolor sit amet at posuere sapien malesuada aliquammel congue causae argumentum in. </p>
                                </div>
                                <div class="col-md-12"><a href="#" class="btn btn-default btn-outline" data-toggle="modal" data-target="#myModal">Try It Now</a></div>
                            </div>
                </div>
            </div>
        </div>
        <!-- Features section close-->
    </section>
    <section id="sectionthree" class="features-section ">
        <!-- Features section start-->
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1>Great Work Gets Results.</h1>
                    <p>Lorem ipsum dolor sit amet.Est an meis lobortis convenire.Est an meis lobortis convenire.</p>
                    <hr>
                    <p class="lead-text">Get Started Today 30 days Free</p>
                    <a href="#" class="btn btn-default btn-outline" data-toggle="modal" data-target="#myModal">Try It Now</a>
                    <hr>
                    <div class="block-quote">
                        <blockquote>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Integer posuere erat a ante."</p>
                            <small>Someone famous in <cite title="Source Title">Source Title</cite></small> </blockquote>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Visual Design</h3>
                            <p>Accumsan petentium et mea. Ad sit omnes ignota blandit. Et pri volutpat gubergren.</p>
                        </div>
                        <div class="col-md-12">
                            <h3>Resposive Design </h3>
                            <p>Accumsan petentium et mea. Ad sit omnes ignota blandit st pri volutpat gubergren.</p>
                        </div>
                        <div class="col-md-12">
                            <h3>Web App Showcase</h3>
                            <p>Quisque lobortis dui id nisl pulvinar, id ultrices sapien auctor pellentesque simple lorem ipsum.</p>
                        </div>
                        <div class="col-md-12">
                            <h3>Web App Feature</h3>
                            <p>Praesent ut varius augue. Vestibulum porta nisl a sollicitudin aliquamdummy text here.</p>
                        </div>
                        <div class="col-md-12">
                            <h3>Powerfull Web App</h3>
                            <p>Cras varius nunc eros, at posuere sapien malesuada aliquam simple dummy text simple used lorem ipsum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"><img src="/static/images/screen_2.png" alt="" class="img-responsive pic_space"></div>
            </div>
        </div>
    </section>
    <!-- Features section close-->
    <section id="sectionfour" class="features-section section-colored">
        <!-- Features section start-->
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center section-head">
                    <h1>You Need Greate Interactive. We Work With Our Greate.</h1>
                    <p>Lorem Ipsum as their default model text and a search for will uncover many web sites still in their infancy. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-11">
                            <h3>Web App Showcase</h3>
                            <p>Accumsan petentium et mea. Ad sit omnes ignota blandit. Et pri volutpat gubergren.</p>
                        </div>
                        <div class="col-md-11">
                            <h3>Feature Heading</h3>
                            <p>Accumsan petentium et mea. Ad sit omnes ignota blandit. Et pri volutpat gubergren.</p>
                        </div>
                        <div class="col-md-11">
                            <h3>Visual Design</h3>
                            <p>Accumsan petentium et mea. Ad sit omnes ignota blandit. Et pri volutpat gubergren.</p>
                        </div>
                        <div class="col-md-11">
                            <h3>Feature Heading</h3>
                            <p>Accumsan petentium et mea. Ad sit omnes ignota blandit. Et pri volutpat gubergren.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3><img src="/static/images/screen_3.png" alt="" class="img-responsive pic_space"></h3>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-11">
                            <h3>Resposive Design</h3>
                            <p>Accumsan petentium et mea. Ad sit omnes ignota blandit. Et pri volutpat gubergren.</p>
                        </div>
                        <div class="col-md-11">
                            <h3>Powerfull Web App</h3>
                            <p>Accumsan petentium et mea. Ad sit omnes ignota blandit. Et pri volutpat gubergren.</p>
                        </div>
                        <div class="col-md-11">
                            <h3>Feature Heading</h3>
                            <p>Accumsan petentium et mea. Ad sit omnes ignota blandit. Et pri volutpat gubergren.</p>
                        </div>
                        <div class="col-md-11">
                            <h3>Web App Feature</h3>
                            <p>Accumsan petentium et mea. Ad sit omnes ignota blandit. Et pri volutpat gubergren.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features section close-->
    <section id="pricing" class="features-section ">
        <!-- Pricing section start-->
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center section-head">
                    <h1>Pricing Table</h1>
                    <p>Lorem Ipsum as their default model text and a search for will uncover many web sites still in their infancy. <a href="#"><strong>Frequently Asked Questions</strong></a> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center price-box">
                    <!-- Single plan start-->
                    <h5>Single Person</h5>
                    <span>From</span>
                    <h1>$23</h1>
                    <span>month</span>
                    <ul>
                        <li>12 months premium support access</li>
                        <li>12 months updates access</li>
                        <li>Sed commodo lacus fringilla</li>
                        <li>Unlimited concurrent domain uses</li>
                        <li>Mauris laoreet lorem non </li>
                    </ul>
                    <a href="#" class="btn btn-default btn-outline">TRY IT NOW</a> </div>
                <!-- Single plan close-->
                <div class="col-md-3 text-center price-box">
                    <!-- Small plan start-->
                    <h5>SmallTeam Business</h5>
                    <span>From</span>
                    <h1>$33</h1>
                    <span>month</span>
                    <ul>
                        <li>12 months premium support access</li>
                        <li>12 months updates access</li>
                        <li>Sed commodo lacus fringilla</li>
                        <li>Unlimited concurrent domain uses</li>
                        <li>Mauris laoreet lorem non </li>
                    </ul>
                    <a href="#" class="btn btn-default btn-outline">TRY IT NOW</a> </div>
                <!-- Small plan close-->
                <div class="col-md-3 text-center price-box">
                    <!-- Medium plan start-->
                    <h5>Medium Business<br>
        </h5>
                    <span>From</span>
                    <h1>$43</h1>
                    <span>month</span> <span class="price-pro">Popular</span>
                    <ul>
                        <li>12 months premium support access</li>
                        <li>12 months updates access</li>
                        <li>Sed commodo lacus fringilla</li>
                        <li>Unlimited concurrent domain uses</li>
                        <li>Mauris laoreet lorem non </li>
                    </ul>
                    <a href="#" class="btn btn-default btn-outline">TRY IT NOW</a> </div>
                <!-- Medium plan close-->
                <div class="col-md-3 text-center price-box">
                    <!-- Enterprise plan start-->
                    <h5>Enterprise Level</h5>
                    <span>From</span>
                    <h1>$53</h1>
                    <span>month</span>
                    <ul>
                        <li>12 months premium support access</li>
                        <li>12 months updates access</li>
                        <li>Sed commodo lacus fringilla</li>
                        <li>Unlimited concurrent domain uses</li>
                        <li>Mauris laoreet lorem non </li>
                    </ul>
                    <a href="#" class="btn btn-default btn-outline">CONTACT US</a> </div>
                <!-- Enterprise plan close-->
            </div>
        </div>
    </section>
    <!-- Pricing section close-->
    <section id="team" class="features-section  section-colored">
        <!-- Team section start-->
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Meet The Team of Sallow</h1>
                    <p>Lorem Ipsum as their default model text and a search for will uncover many web sites still in their infancy.</p>
                </div>
            </div>
            <div class="row team">
                <div class="col-md-3 text-center"> <img src="/static/images/team_1.png" alt="" class="img-responsive">
                    <h3>Derik Mills</h3>
                    <span>Product Designer</span>
                    <ul class="team-social">
                        <li><a href="" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                        <li><a href="" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                        <li><a href="" title="Google Plus"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                        <li><a href="" title="Flickr"><i class="fa  fa-flickr fa-2x"></i></a></li>
                        <li><a href="" title="Youtube"><i class="fa fa-youtube-square fa-2x"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3 text-center"> <img src="/static/images/team_2.png" alt="" class="img-responsive">
                    <h3>Maria Jhon</h3>
                    <span>Marketing Manger</span>
                    <ul class="team-social">
                        <li><a href="" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                        <li><a href="" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                        <li><a href="" title="Google Plus"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                        <li><a href="" title="Flickr"><i class="fa  fa-flickr fa-2x"></i></a></li>
                        <li><a href="" title="Youtube"><i class="fa fa-youtube-square fa-2x"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3 text-center"> <img src="/static/images/team_3.png" alt="" class="img-responsive">
                    <h3>Jhon Doe</h3>
                    <span>Founder of Sallow</span>
                    <ul class="team-social">
                        <li><a href="" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                        <li><a href="" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                        <li><a href="" title="Google Plus"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                        <li><a href="" title="Flickr"><i class="fa  fa-flickr fa-2x"></i></a></li>
                        <li><a href="" title="Youtube"><i class="fa fa-youtube-square fa-2x"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3 text-center"> <img src="/static/images/team_4.png" alt="" class="img-responsive">
                    <h3>Jason Crandell</h3>
                    <span>UI / UX Designer </span>
                    <ul class="team-social">
                        <li><a href="" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                        <li><a href="" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                        <li><a href="" title="Google Plus"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                        <li><a href="" title="Flickr"><i class="fa  fa-flickr fa-2x"></i></a></li>
                        <li><a href="" title="Youtube"><i class="fa fa-youtube-square fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Team section close-->
    <section id="client" class="features-section ">
        <!-- Quote &amp; Client section start-->
        <div class="container">
            <div class="col-md-12 text-center section-head">
                <h1>Loved &amp; Trusted</h1>
                <p>Lorem Ipsum as their default model text and a search for will uncover many web sites still in their infancy.</p>
            </div>
            <div class='row'>
                <div class=' col-md-12'>
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#quote-carousel" data-slide-to="1"></li>
                            <li data-target="#quote-carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner">
                            <!-- Quote 1 -->
                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-12 text-center quote-carousel">
                                        <div class="text-center"> <img class="img-circle" src="http://placehold.it/280x280" alt=""> </div>
                                        <p>"Lorem Ipsum as their default model text and a search for will uncover many web sites still in their infancy."</p>
                                        <small>- Someone Famous Company CEO, <span>someonefamous.com</span></small> </div>
                                </div>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-12 text-center quote-carousel">
                                        <div class="text-center"> <img class="img-circle" src="http://placehold.it/280x80" alt=""> </div>
                                        <p>"Lorem Ipsum as their default model text and a search for will uncover many web sites still in their infancy."</p>
                                        <small>- Someone Famous Company CEO, <span>someonefamous.com</span></small> </div>
                                </div>
                            </div>
                            <!-- Quote 3 -->
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-12 text-center quote-carousel">
                                        <div class="text-center"> <img class="img-circle" src="http://placehold.it/280x80" alt=""> </div>
                                        <p>"Lorem Ipsum as their default model text and a search for will uncover many web sites still in their infancy."</p>
                                        <small>- Someone Famous Company CEO, <span>someonefamous.com</span></small> </div>
                                </div>
                            </div>
                        </div>
                        <!-- Carousel Buttons Next/Prev -->
                        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a> <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a> </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <!--Client section start-->
            <div class="row">
                <div class="col-md-12 text-center section-head">
                    <h1>Our Client</h1>
                </div>
            </div>
            <div class="row client owl-carousel owl-theme" id="owl-demo">
                <div class="col-md-2 item"><img class="" src="http://placehold.it/280x80" alt=""></div>
                <div class="col-md-2 item"><img class="" src="http://placehold.it/280x80" alt=""></div>
                <div class="col-md-2 item"><img class="" src="http://placehold.it/280x80" alt=""></div>
                <div class="col-md-2 item"><img class="" src="http://placehold.it/280x80" alt=""></div>
                <div class="col-md-2 item"><img class="" src="http://placehold.it/280x80" alt=""></div>
                <div class="col-md-2 item"><img class="" src="http://placehold.it/280x80" alt=""></div>
                <div class="col-md-2 item"><img class="" src="http://placehold.it/280x80" alt=""></div>
                <div class="col-md-2 item"><img class="" src="http://placehold.it/280x80" alt=""></div>
            </div>
        </div>
        <!--Client section close-->
    </section>
    <!-- Quote &amp; Client section close-->
    <section id="getintouch" class="section-colored">
        <!--Get in Touch section start-->
        <div class="container get-touch">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Let's start with sallow page!</h1>
                    <p>30-day money back guarantee. We know you'll love it.</p>
                </div>
            </div>
            <div class="row get-touch">
                <div class="col-md-4 col-md-offset-4">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control input-lg" id="txt_name1" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="text" class="form-control input-lg" id="txt_email1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control input-lg" id="txt_password1" placeholder="Password">
                    </div>
                    <button type="submit" id="free_sign" onClick="mail_send('get-touch','1')" class="btn btn-default btn-block btn-orange btn-lg">30 DAYS FREE SIGNUP</button>
                </div>
                <div id="mail_msg1" class="mail_valid_msg"></div>
            </div>
        </div>
        <div class="footer">
            <!-- Footer start-->
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-4"> <i class="fa fa-phone fa-3x"></i>
                        <p>+1-123-456-7890</p>
                    </div>
                    <div class="col-md-4 text-center"><i class="fa fa-map-marker fa-3x"></i>
                        <p>Lorem ipsum St. Ste 201
                            <br> New York, NY 10001</p>
                    </div>
                    <div class="col-md-4"> <i class="fa fa-envelope  fa-3x"></i>
                        <p><a href="#">hello@sallowpage.com</a></p>
                    </div>
                    <div class="col-md-12 footer-text">Sallow © 2014 | Privacy Policy</div>
                </div>
            </div>
        </div>
        <!-- Footer close-->
    </section>
    <!--Get in Touch section close-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Sign up</h4>
      </div>-->
                <div class="modal-body">
                    <h1>Set up your new account today.</h1>
                    <p>30-day money-back guarantee that lorem ipsum is simple .</p>
                    <hr>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control input-lg" id="txt_name2" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control input-lg" id="txt_email2" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control input-lg" id="txt_password2" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default btn-orange" onClick="mail_send('modal-dialog','2')">Sign in</button>
                            </div>
                        </div>
                        <div id="mail_msg2" class="mail_valid_msg"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <p class="text-left"> Already have an account? <a href="#">Sign in here</a></p>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/static/default.js"></script>
</body>

</html>
