doctype html
html(lang="en")
  include ./Shared/Header.pug
  body.login
    include ./Shared/Menu.pug
    section.login
      .content
        h2 Login
        .form#login-form
          input#username(type="text",name="username",placeholder="Username")
          input#password(type="password",name="password",placeholder="Password")
          button#login-button Login
    include ./Shared/Footer.pug
