@import reset
@import nib
@import globals
@import notifications
@import menu
@import login
@import blog

body,
html
  width 100%
  height 100%

body
  font-size 16px
  font-family body-font-family
  font-weight 300
  color criollo-dark-gray
  background-color criollo-black  
  
  @media screen and (prefers-color-scheme: dark)
    color criollo-light-gray

h1
  font-size 3.6em
  
  @media screen and (max-width: phone-cutoff)
    font-size 2.5em

h2
  font-size 2em

  @media screen and (max-width: phone-cutoff)
    font-size 1.75em

h3
  font-size 1.2em
  
  @media screen and (max-width: phone-cutoff)
    font-size 1em

h1, h2, h3
  font-family heading-font-family
  font-weight bold
  line-height 1.5em
  letter-spacing -0.05em
  color criollo-dark-orange
  hyphens auto
  
  @media screen and (prefers-color-scheme: dark)
    color criollo-light-orange

body
  font-size 1.2em
  
  @media screen and (max-width: phone-cutoff)
    font-size 1em

p
  margin 1.5em 0

p, ul, li
  line-height 1.5em

code
  font-family monotype-font-family
  font-size 0.9em
  font-weight 400
  line-height 1.5em
  text-align left
  padding 1em
  border-radius 4px
  margin-right 6px
  margin-left 3px
  box-sizing border-box
  overflow-scrolling touch
  background-color criollo-lighter-gray
  border 1px solid alpha(criollo-dark-gray, 0.25)
  color criollo-dark-gray  
  
  @media screen and (prefers-color-scheme: dark)
    background-color criollo-dark-gray
    color criollo-light-gray
    border 1px solid alpha(criollo-medium-gray, 0.25)
    
  &.hljs
    padding @padding
    box-sizing border-box
    color criollo-dark-gray
    background-color criollo-lighter-gray
          
    @media screen and (prefers-color-scheme: dark)
      color criollo-light-gray
      background-color criollo-dark-gray

strong
  font-weight 600

a
  color criollo-orange
  text-decoration underline
  transition all 0.25s ease-in-out
  overflow-wrap break-word

a:hover
  color criollo-light-orange
  
.hidden 
  display none !important

body

  &.landing

    p
      margin 1.5em
      
    code
      padding 0.05em 0.25em 0.1em 0.25em
      
      &.hljs      
        padding 1em

    section
      text-align center

      &:first-of-type
        padding-top 3em

        @media screen and (max-width: phone-cutoff)
          padding-top 0.5em

  &>section
    padding 3em 0
    min-height 18.75em
    border-bottom 1px solid criollo-lighter-gray
    vertical-align middle
    background-color white
    
    @media screen and (prefers-color-scheme: dark)
      background-color criollo-darker-gray
      border-bottom 1px solid criollo-dark-gray

    @media screen and (max-width: phone-cutoff)
      padding 0.5em 0

    &:first-of-type
      padding-top 6em

      @media screen and (max-width: phone-cutoff)
        padding-top 3em

  &>header
    padding 3em 0
    text-align center
    vertical-align middle

    @media screen and (max-width: phone-cutoff)
      padding 0.5em 0

  &>footer
    padding 2em 0
    text-align center
    vertical-align top

    @media screen and (max-width: phone-cutoff)
      padding 0

  &>section,
  &>footer,
  &>header,
  &>nav
    .content
      margin 0 auto
      min-width 288px
      max-width 1136px
      height 100%
      vertical-align middle
      box-sizing border-box

  .masthead
    background-color criollo-black
    text-align center
    min-height 30em

    @media screen and (max-width: phone-cutoff)
      min-height 20em

    .content
      width 80%
      max-width 960px

      .logo
        margin 8em auto 3em auto
        opacity 1
        
        @media screen and (prefers-color-scheme: dark)
          opacity 0.7

        @media screen and (max-width: phone-cutoff)
          margin 4em 2em 1.5em 2em
          max-width 75%

        img
          width 100%
          max-height 150px

      h2
        margin-right 2em
        margin-left @margin-right
        
        @media screen and (max-width: phone-cutoff)
          font-size 1.5em
          margin-right 0
          margin-left @margin-right

      h1, h2
        color criollo-lighter-gray
        
        @media screen and (prefers-color-scheme: dark)
          color criollo-light-gray

      h2
        font-weight normal

      p
        color criollo-lighter-gray

      .get-started
        margin-top 4em
        margin-bottom 1em

        @media screen and (max-width: phone-cutoff)
          margin-top 2em
          margin-bottom 0

        a
          display inline-block
          min-width 10em
          height 3.5em
          line-height @height
          margin 0 1em
          padding 0 1em
          background-color criollo-orange
          color criollo-light-gray
          font-family heading-font-family
          font-size 1.1em
          text-decoration none
          border-radius 4px

          @media screen and (max-width: phone-cutoff)
            margin-bottom 1em

          &:hover
            background-color criollo-light-orange
            color criollo-dark-gray
            text-decoration underline


  section

    .page-header
      padding 1em
      margin-bottom 2.5em
      
      .page-title
        margin-top 1.5em
        line-height 1.2em
        letter-spacing -0.1em !important        

    h2
      margin-top 1.4em

    &.details
      padding-top 0

      .shields
        padding-top 1em
        margin-bottom 2em

        a
          margin 0 0.25em

      .hello-world
        padding 2em 1em

    &.key-features
      whitespace wrap

      ul.key-features
        margin 1.5em 0

        li.feature
          display inline-block
          text-align left
          width 50%
          padding 1.5em
          vertical-align top
          box-sizing border-box

          @media screen and (max-width: phone-cutoff)
            padding 0.5em 1.5em
            width 100%
            text-align center

          p
            margin-left 0
            margin-right 0

          ul
            li
              list-style-type disc

          ol
            li
              list-style-type decimal

          ul,
          ol
            font-size 0.9em
            margin 1.5em 0 1.5em 3em
            line-height 1.5em
            list-style-position outside

            li
              padding-left 0.5em

    &.getting-started

      .external-links
        padding-top 2em

        @media screen and (max-width: phone-cutoff)
          padding-top 1em

        a
          display inline-block
          vertical-align top
          width 6em
          padding 1em
          text-align center
          text-decoration none
          border-radius 4px

          &:hover
            text-decoration none
            background-color criollo-lighter-gray
            
            @media screen and (prefers-color-scheme: dark)
              background-color criollo-dark-gray                

            span
              text-decoration underline

          img
            width 4em
            height @width
            margin 0 auto 0.5em auto
            display block
            
          &.github-button            
            img
              &.dark
                display block
              &.light 
                display none              
                opacity 1
              @media screen and (prefers-color-scheme: dark)
                &.dark
                  display none              
                &.light 
                  display block
                  opacity 0.7
              
            
          &.criollo-web-icon
            img
              @media screen and (prefers-color-scheme: dark)
                filter invert(80%)

          span
            display block
            font-family heading-font-family

          small
            display block
            font-size 0.6em
            line-height 1em
            color criollo-dark-gray
            
            @media screen and (prefers-color-scheme: dark)
              color criollo-medium-gray

    &.process-info
      height auto
      max-height auto
      min-height 0
      padding 0.5em 1em 0.4em 1em
      border none
      background-color criollo-orange
      color criollo-light-gray
      border-bottom 1px solid criollo-medium-gray
      
      @media screen and (prefers-color-scheme: dark)
        background-color criollo-dark-orange
        color criollo-medium-gray
        border-bottom 1px solid criollo-dark-gray

      .content
        font-family monotype-font-family
        font-size 0.65em
        text-align center
        vertical-align middle
        line-height 1.2em

        p
          margin 0
          line-height 1.25em

  .footer
    background-color criollo-black
    color criollo-lighter-gray
    font-size 1em
    padding-bottom 0
    
    @media screen and (prefers-color-scheme: dark)
      color criollo-light-gray

    .content

      a
        color criollo-light-orange
        text-decoration none
        
        @media screen and (prefers-color-scheme: dark)
          color criollo-orange

        &:hover
          color criollo-lighter-gray
          text-decoration underline
          
          @media screen and (prefers-color-scheme: dark)
            color criollo-light-gray

      .col
        display inline-block
        vertical-align top
        margin 2em
        width 13em

        @media screen and (max-width: phone-cutoff)
          margin 2em 1em 0 1em

        h3
          color criollo-lighter-gray          
          margin-bottom 0.25em
          
          @media screen and (prefers-color-scheme: dark)
            color criollo-light-gray

        ul
          li
            font-size 0.8em
            line-height 1.5em


      .copyright
        font-size 0.75em
        line-height 1em
        border-top 1px solid criollo-orange
        padding 0
        margin-top 2em
        
        @media screen and (prefers-color-scheme: dark)
          border-top 1px solid criollo-dark-orange
        p
          margin 1em
