// Color definitions
criollo-light-gray                  = #f0f0f0
criollo-medium-gray                  = #b0b0b0
criollo-dark-gray                   = #666666
criollo-orange                      = #cc8339
criollo-light-orange                = #f0af6c
criollo-dark-orange                 = #633b28

// Fonts
body-font-family                    = "Helvetica Neue", Helvetica, sans-serif
heading-font-family                 = "Ruda", "Trebuchet MS", Verdana, sans-serif
monotype-font-family                = Menlo, Monaco, monospace

// Sizes
phone-cutoff                        = 667px