@import globals

body

  &.login

    section
      text-align center
      width 100%
      max-width 100% !important

      .content
        width 100%
        max-width 100% !important

        .form
          background-color criollo-light-orange
          display block
          padding 30px 20px 20px 20px
          text-align center
          margin-top 60px
          margin-bottom 80px

          input
            display block
            margin 20px auto
            outline none
            text-align center
            font-size 1em
            font-family heading-font-family
            font-weight 200
            padding 10px 20px
            border 1px solid criollo-dark-orange
            width 320px

            @media screen and (max-width: phone-cutoff)
              width 280px


          button
            display block
            margin 20px auto
            font-family heading-font-family
            font-size 1em
            padding 10px 40px
            background-color criollo-dark-orange
            color white
            border none
            transition all 0.25s ease-in-out 0
            cursor pointer
            border 1px solid criollo-dark-orange

            &:hover
              background-color white
              color criollo-dark-orange