@import globals

body

  &.login

    section
      text-align center
      width 100%
      max-width 100% !important
      box-sizing border-box

      .content
        width 100%
        max-width 100% !important
        box-sizing border-box

        .form        
          display block
          padding 0 20px 20px 20px
          text-align center
          margin-top 60px
          margin-bottom 80px
          box-sizing border-box

          input
            display block
            margin 20px auto
            outline none
            text-align center
            font-size 1em
            font-family heading-font-family
            font-weight 200
            padding 10px 20px
            width 320px
            background-color criollo-lighter-gray
            border 1px solid criollo-light-gray
            color criollo-dark-gray
            border-radius 4px

            @media screen and (max-width: phone-cutoff)
              width 280px
              
            @media screen and (prefers-color-scheme: dark)
              background-color criollo-dark-gray
              border 1px solid criollo-darker-gray
              color criollo-light-gray

          button
            display block
            margin 20px auto
            font-family heading-font-family
            font-size 1em
            padding 10px 40px
            border none
            transition all 0.25s ease-in-out 0
            cursor pointer
            box-sizing border-box
            border 1px solid criollo-orange
            background-color criollo-orange            
            color criollo-lighter-gray
            border-radius 4px
            
            &:hover
              background-color criollo-light-orange
              border 1px solid criollo-light-orange
              color criollo-dark-orange
              
            @media screen and (prefers-color-scheme: dark)
              border 1px solid criollo-dark-orange
              background-color criollo-dark-orange            
              color criollo-light-gray              
              
              &:hover
                background-color criollo-orange
                border 1px solid criollo-orange
                color criollo-dark-orange
              