@import globals

body

  .main-menu
    background-color criollo-black
    text-align center
    height auto
    width 100%
    position fixed
    transition background-color 0.25s ease-in-out
    z-index 10000

    .content
      padding 1em
      text-align left

      @media screen and (max-width: phone-cutoff)
        padding 0.5em 1em

      .logo
        display none
        width 0
        height 2em
        margin 0
        vertical-align middle

        @media screen and (max-width: phone-cutoff)
          height 1em

        a
          img
            height 100%

      ul
        display inline-block
        vertical-align middle
        width 100%
        height 2em
        margin 0
        padding 0
        font-family heading-font-family
        font-size 1em
        font-weight 300
        text-align center
        white-space nowrap

        @media screen and (max-width: phone-cutoff)
          font-size 0.75em

        li
          vertical-align middle
          display inline-block
          margin 0 0.75em
          padding 0
          height 100%
          line-height 100%

          @media screen and (max-width: phone-cutoff)
            margin 0 0.5em

          a
            line-height 2em
            margin 0
            padding 0
            color criollo-light-gray
            text-decoration none
            
            @media screen and (prefers-color-scheme: dark)
              color criollo-light-gray


            &:hover
              color criollo-orange
              text-decoration underline

    &.scrolled
      background-color criollo-black

      .content
        .logo
          display inline-block
          width 30%

          @media screen and (max-width: phone-cutoff)
            width 25%

        ul
          width 70%
          text-align right

          @media screen and (max-width: phone-cutoff)
            width 75%

          li
            padding 0
            margin 0 0 0 0.75em

            a
              color criollo-light-gray
              
              @media screen and (prefers-color-scheme: dark)
                color criollo-medium-gray

              &:hover
                color criollo-orange
