notification-color-info = #efefef
notification-color-error = #cc0000
notification-color-warn = #eeee44
notification-color-confirm = #00cc00

notification-width = 300px

notification-spacing = 10px
notification-padding-vertical = 15px
notification-padding-horizontal = 10px

notification-close-size = 10px
notification-close-spacing = 5px

body

  .notification-center
    position absolute
    top 0
    right notification-spacing
    width notification-width

    .notification
      position relative
      margin notification-spacing 0
      display block
      padding notification-padding-vertical notification-padding-horizontal
      border-radius (notification-padding-horizontal / 2)
      border 1px solid #ccc
      border-left (notification-padding-horizontal / 2) solid #ccc
      background-color #efefef
      color #333
      font-size 0.8em

      &.info
        border-left-color notification-color-info

      &.error
        border-left-color notification-color-error

      &.warn
        border-left-color notification-color-warn

      &.confirm
        border-left-color notification-color-confirm

      .notification-close
        width notification-close-size
        height @width
        overflow hidden
        line-height @width
        font-size @width
        color #333
        position absolute
        right (notification-close-spacing + 1)
        top (notification-close-spacing + 1)
        cursor pointer
        transition opacity 0.3s ease-in-out
        opacity 1

        &:hover
          opacity 0.5

      .notification-title
        color black

      text
        font-weight 300

  &.scrolled
    .notification-center
      top 80px