body {
	width: 100%;
	height: 100%;
}
html {
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}
 @media(min-width:767px) {
 .navbar {
 padding: 20px 0;
 -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
 -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
 transition: background .5s ease-in-out, padding .5s ease-in-out;
}
 .top-nav-collapse {
        /* Customize the look and feel of the collapsed top nav here */
        padding: 0;
}
}
/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children
of those sections to manage the look and feel of the site. */
a {
color: #e96644;
}
a:hover {
color: #d4512f;
}
a, a:active, a:focus {
outline: none;
}
p {
	color:#989392;
	-webkit-font-smoothing: antialiased;
}
ul{margin: 0px; padding: 0px;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color:#302d2d;
}
h1, .h1 {
	font-size: 32px;
	letter-spacing: -1px;
	font-weight: bold;

	letter-spacing: -2px;
}
h3, .h3 {
	font-size: 20px;
	color: #413e3c;
}
/***** Navigation ***/
.navbar-default .navbar-brand {
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size:32px;
	font-weight: 200;
	letter-spacing: 2px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color:#df4c26;
	color:#fff;
}
.navbar-default .navbar-nav>li>a {
	color: #facfc3;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
}
.navbar-default .navbar-toggle{ background-color:#db512e; border:1px solid #f97a59;}
.navbar-default .navbar-toggle .icon-bar{ background-color:#fff;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{ background-color:#ce3b15;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{ border-color:#f97a59;}

/******* hero section*********/

.intro-section {
	padding-bottom:90px;
	padding-top: 90px;
	background: #e96644;
}
.hero-section {
	margin-top: 30px;

	text-align:center;
}
.hero-section h2 {
	color: #fff;
	text-transform: uppercase;
	margin: 0px;
	font-weight: 800;
}
.hero-section h1 {
	color: #fff;
	font-size: 42px;
	margin: 0px;
	margin-bottom: 10px;
}
.hero-section p {
	color: #fff;
	font-size: 16px;
	line-height: 28px;
	color: #facbbe;
}
.hero-section-laptop {
	margin-top: 20px;
	text-align:center;
}
/***Feature sections****/

.features-section {
	padding-bottom:90px;
	padding-top: 90px;
}
.section-colored {
	background-color:#fbf9f8;
}
.section-head{ padding-bottom:30px;}

.pic_space{ margin-top:90px;}
/*** btn ****/
.btn-orange {
	background-color: #e96644;
	padding: 12px 80px;
	border: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 2px;
}
.btn-orange:hover {
	background-color: #e04e28;
	padding: 12px 80px;
	border: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 2px;
}
.btn-outline-light {
	border: 2px solid #fd9a80;
	padding: 15px 60px;
	color: #fd9a80;
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color:#e96644;
	margin-top: 20px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-outline-light:hover {
	border: 2px solid #fff;
	padding: 15px 60px;
	color: #e96644;
	background-color:#fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.btn-outline {
	border: 2px solid #e96644;
	padding: 15px 60px;
	color: #e96644;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: 800;
}
.btn-outline:hover {
	border: 2px solid #e96644;
	padding: 15px 60px;
	color: #e96644;
	background-color:#e96644;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 800;
}
/*****Pricing Table********/

.price-box {
	border-top:1px #ededed solid;
	border-bottom:1px #ededed solid;
	border-right:1px #ededed solid;
		border-left:1px #ededed solid;
	padding-top:20px;
	padding-bottom:30px;
	color:#5a5655;

}
.price-box:hover {
	background-color:#fbf9f8;
	cursor:pointer;
}
.price-box h5 {
	font-size:18px;
	text-transform:uppercase;
	padding-bottom:40px;
	color:#e96644;
	font-weight:600;
}
.price-box h1 {
	font-size:72px;
	text-transform:uppercase;
	font-weight:bold;
	margin:0px;
}
.price-box ul {
	margin-top:60px;
	margin-bottom:60px;
}
.price-box ul li {
	list-style:none;
	line-height:30px;
	font-size:14px;
}
.page-heading p a {
	color: #e96644;
}
.price-pro {
	background-color: #8bbb57;
	color: #fff;
	padding: 4px 10px;
	border-radius: 2px;
	font-size: 13px;
	font-weight: bold;
}



/*****Team Section********/

.team {
	padding-top:90px;
}
.team img {
	border-radius: 100px;
	opacity: 0.3;
	width:100%;
}
.team img:hover {
	border-radius: 100px;
	opacity: 0.9;
	cursor: pointer;
}
.team .col-md-3 h3 {
	text-transform: uppercase;
	font-weight: bold;
	color: #3a3534;
}
.team .col-md-3 span {
	color:#b9b4b2;
	text-transform:uppercase;
	font-weight:bold;
	-webkit-font-smoothing: antialiased;
	font-size:13px;
	margin-bottom: 30px;
	display: block;
}
ul.team-social {
	margin-top:10px;
}
.team-social li {
	list-style: none;
	display: inline;
	margin-left: 8px;
	margin-top:10px;
}
.team-social li a {
	color: #dedbda;
}
.team-social li a:hover {
	color: #e96644
}
.lead-text {
	font-size: 18px;
font-weight: bold;
color: #3a3534;
letter-spacing: -1px;
}
/*****Get In Touch *******/
.get-touch {
	padding-top: 90px;
	padding-bottom: 120px;
}
.get-touch form input {
	border-radius: 2px;
	font-size:14px;
}
/******Footer****/

.footer {
	min-height:500px;
	background:#2d2a2a;
	padding-top:100px;
	padding-bottom:100px;
	color:#777271;
}
.footer p {
	font-size: 18px;
}
.footer p a {
	color: #777271
}
.footer p a:hover {
	color: #e96644
}
.footer i {
	margin-bottom: 20px;
}
.footer-text{ padding-top:30px;}
/****Block Quote ******/
.block-quote {
	margin-top: 30px;
}
.block-quote blockquote {
	border-left: 5px solid #b3adac;
}
.block-quote blockquote p {
	font-style: italic;
}
.block-quote cite {
	color: #e96644;
}
/* carousel */

.quote-carousel {
	padding-bottom: 60px;
}
.quote-carousel p {
	font-size: 18px;
	font-style: italic;
}
.quote-carousel small {
	font-size: 16px;
}
.quote-carousel span {
	font-size: 16px;
	color:#e96644;
}

.client{
padding-bottom:60px;
}



#quote-carousel {
	padding: 0 10px 30px 10px;
	margin-top: 30px 0px 0px;
}
/* Control buttons  */
#quote-carousel .carousel-control {
	background: none;
	color: #222;
	font-size: 2.3em;
	text-shadow: none;
	margin-top: 190px;
}
/* Previous button  */
#quote-carousel .carousel-control.left {
	left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right {
	right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li {
	background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active {
	background: #e96644;
	margin-top: 30px;
}
#quote-carousel img {
	width: 150px;
	height: 150px;
	margin-bottom: 30px;
}
/* End carousel */

.item blockquote {
	border-left: none;
	margin: 0;
}
.item blockquote img {
	margin-bottom: 30px;
}
.item blockquote p:before {
	content: "\f10d";
	font-family: 'Fontawesome';
	float: left;
	margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
 #quote-carousel {
 margin-bottom: 0;
 padding: 0 40px 30px 40px;
 margin-top: 30px;
}
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

    #quote-carousel .carousel-indicators {
 bottom: -20px !important;
}
 #quote-carousel .carousel-indicators li {
 display: inline-block;
 margin: 0px 5px;
 width: 15px;
 height: 15px;
}
 #quote-carousel .carousel-indicators li.active {
 margin: 0px 5px;
 width: 20px;
 height: 20px;
}
 .features-section {
padding-bottom: 30px;
padding-top: 30px;
}
.pic_space {
margin-top: 60px;
}
}
.errors{
 border:1px solid #f00;
}
.mail_valid_msg{
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 100%;
}
