@import globals

.tokenfield
  position relative

.tokenfield.tokenfield-mode-tokens
  display inline-block
  width 100%
  padding 6px 12px 4px 12px
  font-size 16px
  line-height 1.5
  border-radius 4px
  box-sizing border-box
  background-image none
  background-color criollo-lighter-gray
  border 1px solid criollo-light-gray
  color criollo-dark-gray

  @media screen and (prefers-color-scheme: dark)
    background-color criollo-dark-gray
    border 1px solid criollo-darker-gray
    color criollo-light-gray

.tokenfield.tokenfield-mode-tokens:focus
  outline 0

.tokenfield.tokenfield-mode-tokens::-moz-placeholder
  opacity 1
  color criollo-light-gray
  @media screen and (prefers-color-scheme: dark)
    color criollo-dark-gray

.tokenfield.tokenfield-mode-tokens:-ms-input-placeholder
  color criollo-light-gray
  @media screen and (prefers-color-scheme: dark)
    color criollo-dark-gray

.tokenfield.tokenfield-mode-tokens::-webkit-input-placeholder
  color criollo-light-gray
  @media screen and (prefers-color-scheme: dark)
    color criollo-dark-gray

.tokenfield.tokenfield-mode-tokens::-ms-expand
  border 0
  background-color transparent

.tokenfield.tokenfield-mode-tokens[disabled],
.tokenfield.tokenfield-mode-tokens[readonly],
fieldset[disabled] .tokenfield.tokenfield-mode-tokens
  opacity 1
  background-color criollo-lighter-gray
  @media screen and (prefers-color-scheme: dark)
    color criollo-dark-gray

.tokenfield.tokenfield-mode-tokens[disabled],
fieldset[disabled] .tokenfield.tokenfield-mode-tokens
  cursor not-allowed

.tokenfield .tokenfield-set
  display inline-block
  
.tokenfield .tokenfield-set > ul
  margin 0 !important
  padding 0 !important
  list-style-type none !important

.tokenfield .tokenfield-set > ul > li
  display inline-block
  margin-right 5px !important
  margin-bottom 5px !important
  padding 0 5px !important
  border-radius 4px !important
  line-height 1.5em !important
  cursor pointer
  background-color criollo-orange
  color criollo-light-gray
      
  @media screen and (prefers-color-scheme: dark)
    background-color criollo-dark-orange
    color criollo-medium-gray

.tokenfield .tokenfield-set > ul > li:hover
  background criollo-dark-orange
  color criollo-medium-gray
  
  @media screen and (prefers-color-scheme: dark)
    background-color criollo-orange
    color criollo-light-gray

.tokenfield .tokenfield-set > ul > li .item-remove
  display inline-block
  font-weight 400
  font-size 0.9285em
  cursor pointer
  text-decoration none
  color criollo-light-gray
      
  @media screen and (prefers-color-scheme: dark)
    color criollo-medium-gray

.tokenfield .tokenfield-input
  margin-bottom 5px
  border none
  outline none
  background transparent
  display inline-block
  font-size 1em
  padding 0
  box-sizing border-box
  width 60px
  min-Width 60px
  color criollo-dark-gray

  @media screen and (prefers-color-scheme: dark)
    color criollo-light-gray

.tokenfield .tokenfield-suggest
  position absolute
  left -1px
  top 100%
  width 100%
  z-index 10
  background-color #fff
  border-radius 4px
  box-sizing border-box
  border 1px solid criollo-light-gray
  overflow hidden
  
  @media screen and (prefers-color-scheme: dark)
    border 1px solid criollo-dark-gray

.tokenfield .tokenfield-suggest > ul
  margin 0 !important
  padding 0 !important
  list-style none !important

.tokenfield .tokenfield-suggest > ul > li
  padding 6px 10px
  cursor pointer

  &.selected
    background criollo-dark-orange
    color criollo-medium-gray
  
    @media screen and (prefers-color-scheme: dark)
      background-color criollo-orange
      color criollo-light-gray


