.tokenfield
  position relative

.tokenfield:before,
.tokenfield:after
  content " "
  display table

.tokenfield:after
  clear both

.tokenfield.tokenfield-mode-tokens
  display block
  width 100%
  padding 6px 12px 4px 12px
  font-size 16px
  line-height 1.5
  color criollo-dark-gray
  background-color white
  background-image none
  border 1px solid criollo-medium-gray
  border-radius 4px
  box-sizing border-box

.tokenfield.tokenfield-mode-tokens:focus
  outline 0

.tokenfield.tokenfield-mode-tokens::-moz-placeholder
  color criollo-light-gray
  opacity 1

.tokenfield.tokenfield-mode-tokens:-ms-input-placeholder
  color criollo-light-gray

.tokenfield.tokenfield-mode-tokens::-webkit-input-placeholder
  color criollo-light-gray

.tokenfield.tokenfield-mode-tokens::-ms-expand
  border 0
  background-color transparent

.tokenfield.tokenfield-mode-tokens[disabled],
.tokenfield.tokenfield-mode-tokens[readonly],
fieldset[disabled] .tokenfield.tokenfield-mode-tokens
  background-color criollo-light-gray
  opacity 1

.tokenfield.tokenfield-mode-tokens[disabled],
fieldset[disabled] .tokenfield.tokenfield-mode-tokens
  cursor not-allowed

// .tokenfield.tokenfield-mode-tokens .focused
//   box-shadow 0 0 0 1px #337ab7 inset

// .tokenfield.tokenfield-mode-tokens .selected
//   background rgba(0, 0, 0, 0.1)

.tokenfield .tokenfield-set > ul
  margin 0
  padding 0
  list-style-type none

.tokenfield .tokenfield-set > ul > li
  float left
  margin-right 5px
  // margin-bottom 5px
  padding 0 5px
  border-radius 4px
  line-height 1.5
  cursor pointer
  color criollo-dark-gray
  background criollo-light-orange

.tokenfield .tokenfield-set > ul > li:hover
  color white
  background criollo-dark-orange

.tokenfield .tokenfield-set > ul > li .item-remove
  display inline-block
  font-weight bold
  font-size 0.9285em
  cursor pointer

.tokenfield .tokenfield-input
  margin-bottom 5px
  border none
  outline none
  float left
  font-size 16px
  // line-height

.tokenfield .tokenfield-suggest
  position absolute
  left -1px
  top 100%
  width 100%
  z-index 10
  background-color #fff
  border 1px solid criollo-medium-gray
  border-radius 4px
  box-sizing border-box

.tokenfield .tokenfield-suggest > ul
  margin 0
  padding 0
  list-style none

.tokenfield .tokenfield-suggest > ul > li
  padding 6px 10px
  cursor pointer

  &.selected
    background-color criollo-light-orange
    color criollo-dark-gray

